mixin content
    .content
        //popup продажи
        .popup
            .popup__blur
            .popup__inner 1231
        .content__inner 
            //input(type="text" id="date" autocomplete="off" placeholder="Выбор даты")
            //welcome block
            .welcome
                .welcome__skull-inner
                    .welcome__skull.welcome__skull--top 
                    .welcome__skull.welcome__skull--top-left
                    .welcome__skull.welcome__skull--top-right
                    .welcome__skull.welcome__skull--left
                    .welcome__skull.welcome__skull--right
                    .welcome__skull.welcome__skull--down-left
                    .welcome__skull.welcome__skull--down-right
                .welcome__logo goloveshki
                .welcome__title Разожги атмосферу:
                .welcome__text наши угли изготавливаются вручную с использованием лучших материалов и горят в четыре раза дольше обычных
                .welcome__arrow-inner
                    a.welcome__arrow(href="#blockBuy") 
            //buy block
            .buy(id="blockBuy")
                .buy__inner
                    .buy__item
                        .buy__item-image
                            img.buy__item-img(src="../images-min/buy/buy__img-1.webp")
                        .buy__item-name для кальяна
                        a.buy__item-button(href="https://www.wildberries.ru/catalog/208288038/detail.aspx") купить
                    .buy__item
                        .buy__item-image
                            img.buy__item-img(src="../images-min/buy/buy__img-2.webp")
                        .buy__item-name для мангала
                        a.buy__item-button(href="https://www.wildberries.ru/catalog/208295175/detail.aspx") купить
            //about block
            .about(id="blockAbout")
                .about__image
                    .about__text-inner
                        .about__text Кокосовая скорлупа
                        .about__text Крахмал топиокового дерева
                    .about__text-inner
                        .about__text Древесная берёза класса А
                        .about__text Кукурузный крахмал
                    .about__text-inner
                        .about__text 100%
                        .about__text Ручная работа
            //faq block
            .faq(id="blockFaq")
                .faq__inner
                    .faq__image
                        img.faq__img(src="../images-min/faq/faq__img-2.webp")
                    .faq__item-inner
                        .faq__item.faq__item--active
                            .faq__item-label 
                                .faq__item-ask Выделяют ли наши угли запах?
                                .faq__item-button 
                            .faq__item-text Наши угли ручной работы отличаются высоким качеством и не выделяют неприятных запахов. Они создаются из натурального материала, что обеспечивает чистое и приятное вкусовое восприятие. Вы сможете насладиться настоящим ароматом нот, раскрывающихся при курении кальяна или жаре мангала.
                        .faq__item
                            .faq__item-label
                                .faq__item-ask Насколько быстро прогорают?
                                .faq__item-button 
                            .faq__item-text Наши угли тщательно отбираются и обрабатываются, что позволяет им сохранять стабильное тепло в течение длительного времени. Благодаря своим уникальным свойствам, таким как плотная компрессия, они обеспечивают равномерное горение, позволяя вам наслаждаться длительными сессиями.
                        .faq__item
                            .faq__item-label
                                .faq__item-ask Подходят ли для всех кальянов?  
                                .faq__item-button 
                            .faq__item-text Наши угли универсальны и подходят для использования в большинстве кальянов и мангалов. Они обеспечивают отличные результаты с любым оборудованием. Неважно, готовите ли вы на улице или дома, качество наших углей сделает процесс приготовления особенным. Попробуйте и убедитесь сами!
            //video block
            .video__inner
                .video__block
                    .video__text.video__text--mobile угли для кальяна
                    <video class="video" controls>
                        <source src="../video/video__1.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video> 
                    .video__text.video__text--desktop угли для кальяна
                .video__block
                    .video__text угли для мангала
                    <video class="video" controls>
                        <source src="../video/video__2.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video> 
                    
                
            //opt block
            .opt(id="blockOpt")
                .opt__inner
                    form.opt__form-inner(action="https://api.web3forms.com/submit" method="POST")
                        input(type="hidden" name="access_key" value="61435dad-9b83-4ff2-b65d-d57194361e62") 
                        input.opt__textform.textform(type="text" name="name" required placeholder="Имя")
                        input.opt__textform.textform(type="tel" name="phone" required placeholder="Телефон")
                        input.opt__textform.textform(type="text" name="city" required placeholder="Город")
                        input.opt__textform.textform(type="text" name="organization" required placeholder="Организация")
                        input.opt__textform.textform(type="number" name="number" required placeholder="Кол-во для заказа")
                        button.opt__button(type="submit") Отправить заявку
