mixin content
    .content
        .content__inner 
            //input(type="text" id="date" autocomplete="off" placeholder="Выбор даты")
            //welcome block
            .welcome
                .welcome__logo goloveshki
                .welcome__title Разожги атмосферу:
                .welcome__text Наши угли изготавливаются вручную с использованием только лучших материалов, чтобы обеспечить идеальное горение и насыщенный вкус.
                .welcome__arrow-inner
                    a.welcome__arrow(href="#blockBuy") 
                .welcome__skull.welcome__skull--top 
                .welcome__skull.welcome__skull--top-left
                .welcome__skull.welcome__skull--top-right
                .welcome__skull.welcome__skull--left
                .welcome__skull.welcome__skull--right
                .welcome__skull.welcome__skull--down-left
                .welcome__skull.welcome__skull--down-right
            //buy block
            .buy(id="blockBuy")
                .buy__inner
                    .buy__item
                        .buy__item-image
                            img.buy__item-img(src="../images-min/buy/buy__img-1.webp")
                        .buy__item-name авито
                        a.buy__item-button(href="#") купить
                    .buy__item
                        .buy__item-image
                            img.buy__item-img(src="../images-min/buy/buy__img-2.webp")
                        .buy__item-name вб
                        a.buy__item-button(href="#") купить
            //about block
            .about(id="blockAbout")
                .about__image
                    .about__text-inner
                        .about__text Не менее
                        .about__text 80% углерода
                    .about__text-inner
                        .about__text Содержание пепла менее
                        .about__text 2,2%, а воды — менее 6%
                    .about__text-inner
                        .about__text Теплота сгорания
                        .about__text 8052 Ккал/кг
            //faq block
            .faq(id="blockFaq")
                .faq__inner
                    .faq__image
                        img.faq__img(src="../images-min/faq/faq__img-2.webp")
                    .faq__item-inner
                        .faq__item.faq__item--active
                            .faq__item-label 
                                .faq__item-ask How can I get into Meta RL?
                                .faq__item-button 
                            .faq__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
                        .faq__item
                            .faq__item-label
                                .faq__item-ask When is the NFT launch?
                                .faq__item-button 
                            .faq__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
                        .faq__item
                            .faq__item-label
                                .faq__item-ask Where can I get a WAVE NFT?
                                .faq__item-button 
                            .faq__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
            //opt block
            .opt(id="blockOpt")
                .opt__inner
                    .opt__title
                    .opt__form-inner
                        .opt__form
                            input.opt__textform.textform(type="text" placeholder="Имя")
                        .opt__form
                            input.opt__textform.textform(type="text" placeholder="Телефон")
                        .opt__form
                            input.opt__textform.textform(type="text" placeholder="Город")
                        .opt__form
                            input.opt__textform.textform(type="text" placeholder="Организация")
                        .opt__form
                            input.opt__textform.textform(type="text" placeholder="Кол-во для заказа")
                        a.opt__button(href="#") Отправить заявку

                        