mixin footer
    .footer
        .footer__left 
            .footer__logo goloveshki
            .footer__contact info@goloveshki.ru
        .footer__link-inner
            a.footer__link(href="#")
            a.footer__link(href="#")
