mixin footer
    .footer
        .footer__left 
            .footer__logo goloveshki
            .footer__contact goloveshki@rambler.ru
        .footer__link-inner
            a.footer__link(href="https://www.instagram.com/golovechki?igsh=MXhrbzdkMWRnd2RsMg==")
                img(class="footer__link-img" src="../images-min/icons/tg.png")
            a.footer__link(href="https://t.me/GoloveshkiOfficial")
                img(class="footer__link-img" src="../images-min/icons/insta.png")