mixin header
    .header
        .header__logo goloveshki
        .header__nav
            a.header__nav-link(href="#blockBuy") Купить
            a.header__nav-link(href="#blockAbout") О нас
            a.header__nav-link(href="#blockFaq") Вопросы
            a.header__nav-link(href="#blockOpt") Опт
